mixin joining()
    .ui.shape.auto
            .sides
                .side
                    img(src='http://teach.wanviv.com:8888/images/1.jpg').ui.medium.image
                .side.active
                    img(src='http://teach.wanviv.com:8888/images/2.jpg').ui.medium.image
                .side
                    img(src='http://teach.wanviv.com:8888/images/3.jpg').ui.medium.image
    h3.ui.header  小恋正在努力为你匹配中
    .ui.divider-lg