mixin loose()
    .ui.shape.auto
        .sides
            .side
                img(src='http://teach.wanviv.com:8888/images/33.jpg').ui.medium.image
            .side.active
                img(src='http://teach.wanviv.com:8888/images/22.jpg').ui.medium.image
            .side
                img(src='http://teach.wanviv.com:8888/images/11.jpg').ui.medium.image
    .ui.inline.cookie.nag
        span.title  很抱歉,本次匹配失败,小恋已经尽力了~呜呜~
        i.close.icon
    h4.ui.header  由于本期后多人数超过预期,导致匹配失败,我们会在下一期继续为你匹配！
    h4.ui.header.text-center
    button.ui.loading.pink.button(style='border-radius:50px')  匹配中
    .ui.divider-lg
    .ui.divider-lg
    .ui.divider-lg