mixin unjoin()
  .container
    .ui.shape.auto
        .sides
            .side
                img(src='http://teach.wanviv.com:8888/images/1.jpg').ui.medium.image
            .side.active
                img(src='http://teach.wanviv.com:8888/images/2.jpg').ui.medium.image
            .side
                img(src='http://teach.wanviv.com:8888/images/3.jpg').ui.medium.image
    h3.ui.header.text-center Hi
    h4.ui.header.text-center 世界那么大,我想遇见你
    form(method='POST')
        h3.ui.header.text-center: button.ui.pink.button(type='submit',style="border-radius:50px;") 寻找我的恋人
    .ui.divider-sm
    h4.ui.header.text-center 目前你已经几百全国
    h4.ui.header.text-center 30%的情敌
    h4.ui.header.text-center 入选率偏低
    h4.ui.header.text-center  建议提高入选率
    .ui.divider-lg